<Menu Mode="MenuMode.Inline" DefaultSelectedKeys=@(new[]{"1"})>
    <MenuItem Key="1"
              RouterLink="" 
              RouterMatch="NavLinkMatch.All">
        <Icon Type="home" Theme="outline" />
        <span class="nav-text">Home</span>
    </MenuItem>
    <MenuItem Key="2"
              RouterLink="settings"
              RouterMatch="NavLinkMatch.All">
        <Icon Type="setting" Theme="outline" />
        <span class="nav-text">Settings</span>
    </MenuItem>
</Menu>